@import "../../../../styles.scss";

.child-card {
    @include cardStyle();
    width: 75%;

    h5 {
        @include tittleStyle();
    }

    .invisible {
        visibility: hidden;
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            @include buttonsStyle();
        }
    }
}