<nav>
    <ul>
        <li routerLink="home" routerLinkActive="active-link">Home</li>
        <li routerLink="display_hide" routerLinkActive="active-link">Display hide</li>
        <li routerLink="component_communication" routerLinkActive="active-link">Component communication</li>
        <li routerLink="crud" routerLinkActive="active-link">Crud</li>
        <li routerLink="search_on_type" routerLinkActive="active-link">Search on type</li>
        <li routerLink="light_switch" routerLinkActive="active-link">Light switch</li>
        <li routerLink="external_libreries" routerLinkActive="active-link">External libreries</li>
        <li routerLink="counter" routerLinkActive="active-link">Counter</li>
    </ul>
</nav>