@import "../../../../styles.scss";

main.light-switch {
    @include mainBasicStyle();

    .angular-component {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    h1 {
        @include tittleStyle();
    }

    &>div {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0;
    }
}