@import 'variables.scss';

body {
    margin: 0;
}

#header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $header-bg-principal;
    box-shadow: inset 0px -5px 5px 0px $header-bg-secundario;
    padding: 0.5rem 1rem;

    &>div {
        display: flex;
        align-items: center;
    }

    .header-img {
        height: 100%;
    }

    .header-brand {
        margin-left: 0.5rem;
        font-family: 'Courier New', Courier, monospace;
        font: 'Courier New';
        font-weight: bold;
    }

    ul {
        display: flex;
        list-style-type: none;

        &>li {
            padding-left: $nav-bar-li-padding;
            padding-right: $nav-bar-li-padding;

            &:not(:last-child) {
                border-right: 2px solid $header-bg-secundario;
            }
        }

        .nav-link {
            color: black;
            text-decoration: none;
        }
    }
}

main {

    section {
        min-height: 80vh;
        box-shadow: inset 0px -5px 5px 0px $header-bg-secundario;
        padding: 3rem;
    }

    #preview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: $preview-bg;

        &>div {
            width: 50vw;
            max-width: 500px;
        }

        .preview-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;

            &>* {
                text-align: center;
            }

            .nombre-articulo {
                display: flex;
                justify-content: center;
            }

            .small-text {
                display: flex;
                align-items: end;
                font-size: 1rem;
            }
        }

        .preview-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 70vh;
            }
        }
    }

    #preview-video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        min-height: auto;

        video {
            width: 100%;
        }
    }

    #caracteristicas {
        background-color: $caracteristicas-bg;

        &>h1 {
            margin-top: 0;
            margin-bottom: 3rem;
            text-align: center;
        }

        #cards-caracteristicas {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .card {
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
                width: 20rem;
                margin: 2rem 4rem;

                .titulo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: $caracteristicas-img-size;
                        height: $caracteristicas-img-size;
                    }
                }
            }
        }
    }

    #modelos {
        background-color: $modelos-bg;

        &>h1 {
            margin-top: 0;
            margin-bottom: 3rem;
            text-align: center;
        }

        #cards-modelos {
            height: 100%;
            display: flex;
            flex-direction: column;

            a {
                color: black;
                text-decoration: none;
            }

            & .card {
                transition: 0.3s;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                min-height: 20rem;
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
                margin: 2rem 4rem;

                &:hover {
                    background: #bcb3df;
                    box-shadow: 0px 0px 15px 0px rgb(142, 142, 142);
                }

                .imgModelo {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: $modelo-img-size;
                    }
                }

                .info-modelo {
                    display: flex;
                    flex-flow: row wrap;
                    padding-left: 2.5rem;
                    border-left: 2px solid lightgray;
                    justify-content: center;
                    max-width: 600px;

                    &>div {
                        margin-right: 3rem;
                    }

                    h4 {
                        margin-bottom: 0.5rem;
                    }

                    ul {
                        margin-top: 0;
                        list-style: inside;
                    }
                }
            }
        }
    }

    #preguntas {
        background-color: $preguntas-bg;

        &>h1 {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        .pregunta-container {

            &>*:not(h3) {
                margin-left: 3rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid lightgray;
            }
        }
    }
}

#footer {
    background-color: $footer-bg;
    padding-top: 2rem;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 3rem;
    box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.15);

    .informacionPagina {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .socialMediaBar,
    .ayudaUsuario {
        list-style-type: none;
    }

    .socialMediaBar {

        li {
            display: flex;
            align-items: center;

            &>* {
                margin: 5px;
            }
        }

        img {
            height: 2rem;
        }
    }

    .ayudaUsuario {
        padding-left: 0;

        li {
            margin: 10px;
        }
    }

    a:link,
    a:hover,
    a:visited {
        color: black;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    #header {
        padding: 0.5rem;

        .header-brand {
            display: none;
            margin-left: 0;
        }

        ul {
            margin-top: 0;
            padding-right: 0;
            align-items: center;

            &>li {
                margin: 0;
                padding: 0 0.5rem;

                &:not(:last-child) {
                    border-right: 1px solid gray;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    main {
        #modelos {
            #cards-modelos {
                & .card {
                    .info-modelo {
                        padding-left: 0;
                        border: none;
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}