$header-height: 3rem;
$header-bg-principal: rgb(206, 206, 206);
$header-bg-secundario: darkgray;
$nav-bar-li-padding: 20px;

$preview-bg: #A8D734;

$caracteristicas-bg: #F4DEC0;
$caracteristicas-img-size: 4rem;

$modelos-bg: #C5BBE8;
$modelo-img-size:15rem;

$preguntas-bg:rgb(228, 228, 228);

$footer-bg: rgb(206, 206, 206);