body {
  margin: 0;
}

#header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  background-color: rgb(206, 206, 206);
  box-shadow: inset 0px -5px 5px 0px darkgray;
  padding: 0.5rem 1rem;
}
#header > div {
  display: flex;
  align-items: center;
}
#header .header-img {
  height: 100%;
}
#header .header-brand {
  margin-left: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  font: "Courier New";
  font-weight: bold;
}
#header #nav-bar {
  display: flex;
  align-items: center;
}
#header #nav-bar ul {
  display: flex;
  list-style-type: none;
}
#header #nav-bar ul > li {
  padding-left: 20px;
  padding-right: 20px;
}
#header #nav-bar ul > li:not(:last-child) {
  border-right: 2px solid darkgray;
}
#header #nav-bar ul .nav-link {
  color: black;
  text-decoration: none;
}

main section {
  min-height: 80vh;
  box-shadow: inset 0px -5px 5px 0px darkgray;
  padding: 3rem;
}
main #preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #A8D734;
}
main #preview > div {
  width: 50vw;
  max-width: 500px;
}
main #preview .preview-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main #preview .preview-text > * {
  text-align: center;
}
main #preview .preview-text .nombre-articulo {
  display: flex;
  justify-content: center;
}
main #preview .preview-text .small-text {
  display: flex;
  align-items: end;
  font-size: 1rem;
}
main #preview .preview-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #preview .preview-img img {
  max-height: 70vh;
}
main #preview-video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: auto;
}
main #preview-video video {
  width: 100%;
}
main #caracteristicas {
  background-color: #F4DEC0;
}
main #caracteristicas > h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
main #caracteristicas #cards-caracteristicas {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main #caracteristicas #cards-caracteristicas .card {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
  width: 20rem;
  margin: 2rem 4rem;
}
main #caracteristicas #cards-caracteristicas .card .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #caracteristicas #cards-caracteristicas .card .titulo img {
  width: 4rem;
  height: 4rem;
}
main #modelos {
  background-color: #C5BBE8;
}
main #modelos > h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
main #modelos #cards-modelos {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main #modelos #cards-modelos a {
  color: black;
  text-decoration: none;
  margin: 2rem 4rem;
}
main #modelos #cards-modelos a .card {
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20rem;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
}
main #modelos #cards-modelos a .card:hover {
  background: #bcb3df;
  box-shadow: 0px 0px 15px 0px rgb(142, 142, 142);
}
main #modelos #cards-modelos a .card .imgModelo {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #modelos #cards-modelos a .card .imgModelo img {
  width: 15rem;
}
main #modelos #cards-modelos a .card .info-modelo {
  display: flex;
  flex-flow: row wrap;
  padding-left: 2.5rem;
  border-left: 2px solid lightgray;
  justify-content: center;
  max-width: 600px;
}
main #modelos #cards-modelos a .card .info-modelo > div {
  margin-right: 3rem;
}
main #modelos #cards-modelos a .card .info-modelo h4 {
  margin-bottom: 0.5rem;
}
main #modelos #cards-modelos a .card .info-modelo ul {
  margin-top: 0;
  list-style: inside;
}
main #preguntas {
  background-color: rgb(228, 228, 228);
}
main #preguntas > h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}
main #preguntas .pregunta-container > *:not(h3) {
  margin-left: 3rem;
}
main #preguntas .pregunta-container:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

#footer {
  background-color: rgb(206, 206, 206);
  padding-top: 2rem;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 3rem;
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.15);
}
#footer .informacionPagina {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#footer .informacionPagina > * {
  margin-top: 25px;
}
#footer .informacionPagina .socialMediaBar,
#footer .informacionPagina .ayudaUsuario {
  list-style-type: none;
}
#footer .informacionPagina .socialMediaBar li {
  display: flex;
  align-items: center;
}
#footer .informacionPagina .socialMediaBar li > * {
  margin: 5px;
}
#footer .informacionPagina .socialMediaBar img {
  height: 2rem;
}
#footer .informacionPagina .ayudaUsuario {
  padding-left: 0;
}
#footer .informacionPagina .ayudaUsuario li {
  margin: 10px;
}
#footer .informacionPagina a:link,
#footer .informacionPagina a:hover,
#footer .informacionPagina a:visited {
  color: black;
  text-decoration: none;
}
#footer .informacionPagina .feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .informacionPagina .feedback #form {
  display: flex;
  flex-direction: column;
}
#footer .informacionPagina .feedback #form > * {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  #header {
    padding: 0.5rem;
  }
  #header .header-brand {
    display: none;
    margin-left: 0;
  }
  #header ul {
    margin-top: 0;
    padding-right: 0;
    align-items: center;
  }
  #header ul > li {
    margin: 0;
    padding: 0 0.5rem;
  }
  #header ul > li:not(:last-child) {
    border-right: 1px solid gray;
  }
}
@media screen and (max-width: 750px) {
  main #modelos #cards-modelos .card .info-modelo {
    padding-left: 0;
    border: none;
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
