<main class="searchOnType">
    <h2 class="tittle">Buscador de Univeridades</h2>
    <div class="search-pane">
        <div class="countries">
            <button *ngFor="let country of COUNTRIES" [ngClass]="{'active' : selectedCountry == country.id}"
                (click)="changeCountry(country.id)" id={{country.id}}>{{country.name}}</button>
        </div>
        <input [(ngModel)]="typeText" (keyup)="getUniversities()" type="text" class="search-text" placeholder="Nombre de la universidad aqui...">
    </div>
    <div class="results">
        <a *ngFor="let university of universities" href="{{university.url}}">{{university.name}}</a>
    </div>
</main>