@import "../../../styles.scss";

main.searchOnType {
    @include mainBasicStyle();
    padding: 1rem;

    .search-pane {
        display: flex;

        .countries {
            &>button {
                @include buttonsStyle();
                border-radius: 0;
                margin: 0;

                &:nth-of-type(1) {
                    border-radius: 1rem 0 0 1rem;
                }
            }

            &>.active {
                background: goldenrod;
            }
        }

        .search-text {
            flex: 1 0;
            border-radius: 0 1rem 1rem 0;
            border: 1px solid white;
        }
    }

    .results {
        @include cardStyle();
        margin-left: 0;
        margin-right: 0;

        a {
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
            color: black;
            text-decoration: none;
            border: 1px solid $primary-color;
            border-radius: 0.5rem;
            transition: 0.3s;

            &:hover {
                background: darken($secundary-color, 10%);
            }
        }
    }
}