@import "../../../styles.scss";

main.display-hide {
    @include mainBasicStyle();
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    button {
        @include buttonsStyle();
    }

    .textContainer {
        @include cardStyle();
    }
}