@import "../../../styles.scss";

main.counter {
    @include mainBasicStyle();
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-card {
    @include cardStyle();

    .number {
        font-size: 4rem;
        text-align: center;
    }

    .controller-container {
        &>div {
            margin-top: 15px;

            &>div:nth-of-type(1) {
                font-weight: bold;
            }

            .buttons-container {
                display: flex;
                justify-content: space-between;

                button {
                    @include buttonsStyle();
                    margin: 0;
                }
            }

            .input-container {
                input {
                    @include inputStyle();
                }
            }
        }
    }
}